<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div class="iframe" th:fragment="home">

    <div class="usercenter">
        <div class="money">
            <div class="money1">
                <div class="m1">4.897000</div>
                <div class="m2">账户余额（币）</div>
            </div>
            <div class="money2">
                <div class="m1">0.000000</div>
                <div class="m2">动态收益（币）</div>
            </div>
            <div class="money3">
                <div class="m1">0.000000</div>
                <div class="m2">复消账户（币）</div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="clear"></div>

        <div class="hang2">
            <div class="i_caiwu">
                <div class="title">
                    团队业绩
                </div>

                <div class="box opacity_bg">
                    <ul style="margin:0px; padding:0px;margin-left:15px;">
                        <li>
                            <span class="name">矿机级别</span>
                            <span class="value">A0</span>
                        </li>
                        <li>
                            <span class="name">团队矿机</span>
                            <span class="value">0</span>
                        </li>
                        <li>
                            <span class="name">总业绩量</span>
                            <span class="value">0</span>
                        </li>
                        <li>
                            <span class="name">新增矿机</span>
                            <span class="value">0</span>
                        </li>
                        <li>
                            <span class="name">新增业绩</span>
                            <span class="value">0</span>
                        </li>
                        <li>
                            <span class="name">Ⅰ级算力</span>
                            <span class="value">0.829261-2.427542</span>
                        </li>
                        <li>
                            <span class="name">Ⅱ级算力</span>
                            <span class="value">3.531379-8.5688721</span>
                        </li>
                        <li>
                            <span class="name">Ⅲ级算力</span>
                            <span class="value">33.756752-93.745816</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="i_news">
                <div class="title">
                    矿协通知
                </div>
                <div class="box opacity_bg">

                    <p>
                        <a href="news_show.aspx?id=115">MCC租用礦機通知</a>
                        <span>
                                    2017-10-21

                                </span>
                    </p>

                    <p>
                        <a href="news_show.aspx?id=114">MCC調價通知</a>
                        <span>
                                    2017-10-19

                                </span>
                    </p>

                    <p>
                        <a href="news_show.aspx?id=113">MCC通知</a>
                        <span>
                                    2017-10-03

                                </span>
                    </p>

                    <p>
                        <a href="news_show.aspx?id=112">MCC菲律賓交流會</a>
                        <span>
                                    2017-09-23

                                </span>
                    </p>

                    <p>
                        <a href="news_show.aspx?id=111">MCC中国社区</a>
                        <span>
                                    2017-09-15

                                </span>
                    </p>


                </div>
            </div>

            <div class="clear"></div>

        </div>

        <div class="hang3">
            <div class="title">
                信息
            </div>
            <div class="content">
                <div class="img">
                    <img src="../images/group_2.png" />
                </div>
                <div class="img">
                    <img src="../images/group_3.png" />
                </div>
                <div class="img">
                    <img src="../images/group_4.png" />
                </div>
                <div class="img day">
                    <img src="../images/day.png" />
                    <span class="leftday">353</span>
                </div>
                <div class="suanli">
                    <img src="../images/suanli.png" /><br />
                    挖矿算力
                </div>
                <div class="clear"></div>
            </div>
            <div class="content mcc">
                <div class="img">
                    <img src="../images/mcc1.png"/>
                </div>
                <div class="img">
                    <img src="../images/mcc2.png"/>
                </div>
                <div class="img">
                    <img src="../images/mcc3.png"/>
                </div>
                <div class="img">
                    <img src="../images/mcc4.png"/>
                </div>
            </div>
        </div>
    </div>



</div>

<div class="iframe" th:fragment="map">

    <div>
        <img src="../images/map.gif" />
    </div>

</div>

</body>
</html>